<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>

    <body>

        <a href="/students">Go to Students</a>
        <a href="/courses">Go to Courses</a>
        <a href="/instructor">Go to Instructor</a>
        <a href="/instructor/instructor_form">Sign up Instructor</a>
        <a href="/instructor/all_instructors">Our Instructors</a>
        

        <div id="content">{% block content %}{% endblock %}</div>

    </body>

</html>